<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SLU OJT Portal</title>
    <link rel="shortcut icon" href="./images/slulogo.png">
    <link rel="stylesheet" href="/stylesheets/index.css" />
  </head>
<body>
<div class="content">
    <img src="./images/ojtPortalLogo.png" alt="">
    <p>Log experiences. Connect with industry insights. Shape career path for student success.</p>
</div>
<div class="content2">
    <img src="./images/slulogo.png" alt="">
</div>
<div class="button-container">
    <button class="button" id="getStarted">Get Started</button>
</div>
<script src="/javascripts/index.js"></script>
</body>
</html>
