@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root{
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info: #7d8da1;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-dark-varient: #677483;
    --color-background: #f6f6f9;
    
    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 1.2rem;

    --card-padding: 1.8rem;
    --box-shadow: 0 2rem 3rem var(--color-light)    
}

.dark-theme{
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-varient: #a3bdcc;
    --color-light: rgba(0,0,0,0.4);
    --box-shadow: 0 2rem 3rem var(--color-light)
}


*{
    margin:0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html{
    font-size: 14px;
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
    font-size: .88rem;
    background: var(--color-background);
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
}
*{
    color: var(--color-dark);
}
img{
    display: block;
    width: 100%;
}
h1{
    font-weight: 800;
    font-size: 1.8rem;
}
h2{font-size: 1.4rem;}
h3{font-size: .87rem;}
h4{font-size: .8rem;}
h5{font-size: .77rem;}
small{font-size: .75rem;}

.text-muted{color: var(--color-info);}
p{color: var(--color-dark-varient);}
b{color: var(--color-dark);}

.primary{color: var(--color-primary);}
.danger{color: var(--color-danger);}
.success{color: var(--color-success)}
.warning{color: var(--color-warning);}

.container{
    position: relative;
    display: grid;
    width: 93%;
    margin: 0 3rem;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 23rem;
    padding-top: 4rem;
}
header h3{font-weight: 500;} 
header{
    position: fixed;
    width: 100vw;
    z-index: 1000;
    background-color: var(--color-background);
}
header.active{box-shadow: var(--box-shadow);}
header .logo{
    display: flex;
    gap: .8rem;
    margin-right: auto;
}
header .logo img{
    width: 2rem;
    height: 2rem;
}

header,
header .navbar{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 3rem;
    color: var(--color-info);
}
header .navbar a{
    display: flex;
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 3.7rem;
    transition: all 300ms ease;
    padding: 0 2rem;
}
header .navbar a:hover {
    padding-top: 1.5rem;
}
header .navbar a.active{
    background: var(--color-light);
    color: var(--color-primary);
}
header .navbar a.active::before{
    content: "";
    background-color: var(--color-primary);
    position: absolute;
    height: 5px;
    width: 100%;
    left: 0;top: 0;
}
header #profile-btn{
    display: none;
    font-size: 2rem;
    margin: .5rem 2rem 0 0;
    cursor: pointer;
}
header .theme-toggler{
    background: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
    margin-right: 2rem;
}
header .theme-toggler span{
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
header .theme-toggler span.active{
    background-color: var(--color-primary);
    color: white;
    border-radius: var(--border-radius-1);
}

/* Profile section  */
aside .profile{
    margin-top: 2rem;
    width: 13rem;
    position: fixed;
}
aside .profile .top{
    display: flex;
    align-items: center;
    gap: 1rem;
    border-bottom: 1px solid var(--color-light);
    padding-bottom: 1rem;
}
aside .profile .top:hover .profile-photo{
    scale: 1.05;
}
aside .profile .top .profile-photo{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid var(--color-light);
    transition: all 400ms ease;
}
aside .profile .about p{
    padding-bottom: 1rem;
}
aside .profile .about{
    margin-top: 1rem;
}
#uploadPhoto {
    border-radius: 50%;
    border-color: transparent;
}

/* Home Section  */
main{
    position: relative;
    margin-top: 1.4rem;
}

#modalBtn {
    background: none;
    border: none;
    border: 2px solid var(--color-primary) !important;
    border-radius: var(--border-radius-1);
    padding: .5rem 1rem;
    color: var(--color-white);
    background-color: var(--color-primary);
    cursor: pointer;
    margin: 1rem 1.5rem 1rem 0;
    margin-top: 25px;
    margin-left: 89.9%;
    width: 118px;
    height: 35px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    transition: 0.3s;
}

#modalBtn:hover {
    color: var(--color-primary);
    background-color: transparent;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left:0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
    justify-content: center;
    align-items: center;
}

.modal-content {
    top: 10%;
    left: 0;
    margin: 5% auto;
    padding: 0;
    width: 80%;
    height: 50%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    position: relative;
}

.modal-header {
    background-color: rgba(0, 0, 139, 0.925);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 15px;
    text-align: center;
}

.modal-body {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 100%;
    font-size: 15px;
}

.set-doc-container {
    display: flex;
    justify-content: flex-end; 
    margin-bottom: 1%;
    gap: 10px;
}
  
.set-req-docs {
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 10px;
    color: black;
    border: 1px solid #aaa;
    background-color: #fff;
}
.set-req-docs:hover {
    background-color: #e9e6e6;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.8);
}
.demerit-container-btn{
    display: flex;
    justify-content: center;
}
.demerit-input{
    display: flex;
    flex-direction: column;
    align-items: center
}
.demerit-input label {
    margin-bottom: 5px;
}

.set-req-docs-demerit {
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 10px;
    color: black;
    border: 1px solid #aaa;
    background-color: rgb(241, 110, 110);
}

.set-req-docs-demerit:hover {
    background-color: rgb(247, 79, 79);
    box-shadow: inset 0 0 2px rgb(139, 32, 32);
}


.update-stud-sub{
    font-size: 15px;
    padding: 8px 13px;
    border-radius: 10px;
    color: white;
    border: 1px solid rgba(0, 0, 139, 0.664);
    background-color: rgba(0, 0, 139, 0.664);
}
.update-doc-container {
    display: grid;
    justify-content: center;
    align-items: flex-end;
}
.update-stud-sub:hover{
    background-color: rgba(0, 0, 139, 0.445);
    box-shadow: inset 0 0 2px rgba(1, 1, 109, 0.664);
}

.header-modal {
    height: 100%;
    width: 100%;
    background-color: #7380ec;
    color: black;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    z-index: 1000;
}
.title-docModal {
    text-align: center;
}
.modal2 {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content2 {
    top:22%;
    left: 33%;
    height: 50%;
    width: 30%;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative;
}

/* Close button style */
.close2 {
    color: #aaa;
    float: right;
    font-size: 28px;
}

.close2:hover,
.close2:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
#workForm{
    margin-top: 2%;
    font-size: 15px;
}

#renderedHours {
    width: 150px;
    height: 30px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
  }

#description {
    width: 90%;
    height: 150px;
    font-size: 14px;
    border-radius: 3px;
    font-family: 'Poppins', sans-serif;
}

.submit-dtr {
    background: none;
    border: 2px solid var(--color-primary) !important;
    border-radius: var(--border-radius-1);
    color: var(--color-white);
    margin-top: 2%;
    margin-left: 20px;
    width: 100px;
    height: 35px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    background-color: var(--color-primary);
    transition: 0.3s;
}

.submit-dtr:hover {
    color: var(--color-primary);
    background-color: transparent;
}

.close {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 28px;
    cursor: pointer;
}

main .sorting {
    font-size: 15px;
}

main .sorting select{
    font-size: 14px;
    margin-left: 20px;
    margin-top: 20px;
    width: 16%;
    font-family: 'Poppins', sans-serif;
}

main .timetable{
    position: absolute;
    margin-top: 2rem;
    height: 485%;
    width: 100%;
    overflow: auto;
}
main .timetable h2{
    margin-bottom: .8rem;
}
main .timetable table{
    background-color: var(--color-white);
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}
main .timetable span{display: none;}
main .timetable table:hover{box-shadow: none;}

main table {
    border-spacing: 0 0;
}

main table thead th{
    line-height: 60px;
}

main table tbody td{
    height: 2.8rem;
    line-height: 60px; /* Set line-height to the same value as height */
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark-varient);
}

main table tbody tr:last-child td{border: none;}

main .timetable.active{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main .timetable.active h2{
    color: var(--color-dark);
}
main .timetable.active table{
    width: 90%;
    max-width: 1000px;
    position: relative;
}
main .timetable.active span{
    display: block;
    font-size: 2rem;
    color: var(--color-dark);
    cursor: pointer;
}
.timetable div{
    position: relative;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
main .timetable.active .closeBtn{
    position: absolute;
    top: 5%;right: 5%;
}

#no-records {
    font-size: 20px;
    position: absolute;
    top: 45%;
    left: 45%;
}

.progress-container {
    position: relative;
    width: 100px;
    height: 5px;
  }

  .progress-circle {
    position: absolute;
    left: 70%;
    height: 50px;
    clip: rect(0, 100px, 100px, 50px);
    border-radius: 50%;
    background: conic-gradient(
      #eee 0% var(--progress, 0%),
      #eee 360deg var(--progress, 0%),
      transparent 360deg 360deg
    );
  }
  .progress-circle2 {
    position: relative;
    height: 50px;
    left: 20%;
    clip: rect(0, 100px, 100px, 50px);
    border-radius: 50%;
    z-index: 1;
  }

  .percentage {
    font-size: 10px;
    left: 35%;
    z-index: 2;
  }

/* Search Bar */ 
.search__input {
    width: 100%;
    padding: 12px 24px;
    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 14px;
    line-height: 18px;
    color: #575756;
    background-color: transparent;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 50px;
    border: 1px solid #575756;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.search__input::placeholder {
    color: rgba(87, 87, 86, 0.8);
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.search__input:hover,
.search__input:focus {
    padding: 12px 0;
    outline: 0;
    border: 1px solid transparent;
    border-bottom: 1px solid #575756;
    border-radius: 0;
    background-position: 100% center;
}
/* Search Bar */

/* Right  */
.right{margin-top: 2.2rem;padding-left: 1.5rem;}
.right .announcements {
    margin-bottom: 10%;
}
.right .announcements h2{margin-bottom: .8rem;}
.right .announcements h3{margin-bottom: .8rem;}
.right .announcements .message form{
    margin-bottom: .8rem;
}
.right .announcements .updates{
    background-color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}
.right .announcements .updates:hover{box-shadow: none;}
.right .announcements .updates .message{
    gap: 1rem;
    line-height: 1.5;
    padding: .5rem 0;
}

/* Teachers on leave  */
.right .leaves{margin-top: 2rem;}
.right .leaves h2{margin-bottom: .8rem;}
.right .leaves .teacher{
    background: var(--color-white);
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: .7rem;
    padding: 1.4rem var(--card-padding);
    border-radius: var(--border-radius-2);
    transition: all 300ms ease;
    box-shadow: var(--box-shadow);
}
.right .profile-photo{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    overflow: hidden;
}
.right .leaves .teacher:hover{box-shadow: none;}

/* MEDIA QUERIES  */
@media screen and (max-width: 1200px) {
    html{font-size: 12px;}
    .container{
        grid-template-columns: 13rem auto 20rem;
    }
    header{position: fixed;}
    .container{padding-top: 4rem;}
    header .logo h2{display: none;}
    header .navbar h3{display: none;}
    header .navbar a{width: 4.5rem; padding: 0 1rem;}

    main .timetable{
        width: 100%;
        position: absolute;
        padding: 4rem 0 0 0;
    }
}

@media screen and (max-width: 1024px) {
    html{font-size: 11px;}
    .container{
        grid-template-columns: 13rem auto 20rem;
    }
    header{position: fixed;}
    .container{padding-top: 4rem;}
    header .logo h2{display: none;}
    header .navbar h3{display: none;}
    header .navbar a{width: 4.5rem; padding: 0 1rem;}

    main .timetable{
        width: 100%;
        position: relative;
        padding: 4rem 0 0 0;
    }
}


@media screen and (max-width: 768px){
    html{font-size: 10px;}
    header{padding: 0 .8rem;}
    .container{width: 100%; grid-template-columns: 1fr;margin: 0;}
    header #profile-btn{display: inline;}
    header .navbar{padding: 0;}
    header .navbar a{margin: 0 .5rem 0 0;}
    header .theme-toggler{margin: 0;}
    aside{
        position: absolute;
        top: 4rem;left: 0;right: 0;
        background-color: var(--color-white);
        padding-left: 2rem;
        transform: translateX(-100%);
        z-index: 10;
        width:18rem;
        height: 100%;
        box-shadow: 1rem 3rem 4rem var(--color-light);
        transition: all 2s ease;
    }
    aside.active{
        transform: translateX(0);
    }
    main{padding: 0 2rem;}
    main .timetable{
        position: relative;
        margin: 3rem 0 0 0;
        width: 100%;
    }
    main .timetable table{
        width: 100%;
        margin: 0;
    }
    .right{
        width: 100%;
        padding: 2rem;
    }
    
}
